@import "global.less";
@import "fonts.less";
@boardWidth:524px;
@fieldsize:56px;

.field[data-info='601'],.field[data-info='600']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -1px -299px;
}
.field[data-info='100']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -4px 2px;
}
.field[data-info='200']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -2px -58px;
}
.field[data-info='300']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -2px -118px;
}
.field[data-info='400']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0px -179px;
}
.field[data-info='500']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0px -239px;
}
.field[data-info='611'],.field[data-info='610']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -1px -656px;
}
.field[data-info='110']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -4px -355px;
}
.field[data-info='210']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -2px -416px;
}
.field[data-info='310']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -1px -476px;
}
.field[data-info='410']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0 -537px;
}
.field[data-info='510']{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0 -597px;
}
.field.selected,.field:hover{
}
.field:hover{
	background-color: white;
}
.field.selected {
	background-color: green;
}
.field.disabled{
	cursor: not-allowed!important;
	background-color:transparent;
	&>*{
		cursor: not-allowed!important;
	}
}
/*Buttons*/
button {
	width:200px;
	height:26px;
	font-size:20px;
	margin:0 auto;
	display:block;
}
#chessStat{
	display: none;
	position: absolute;
	width: 63px;
	height: 50px;
	margin-top: 0;
	margin-left: 230px;
}
header{
	nav{
		padding-bottom:20px;
		ul#headerMenu{
			width:500px;
			padding-left:324px;
			li{
				a{
					font-size:20px;
				}
			}
		}
	}
}
#chessBoardWrap{
	#chessBoard{
		background: rgba(0, 0, 0, 0) url("../img/chess_board_bg.jpg") no-repeat scroll 0 0;
		max-width:@boardWidth;
		padding:38px;
		overflow:hidden;
		margin: 0 auto;
		&>*{

		}
		.board-row{
			height:@fieldsize;
			display:block;
			font-size:0;
			&:nth-child(even).field:nth-child(even){
				//background:#000;
			}
			&:nth-child(odd).field:nth-child(odd){
				//background:#000;
			}
			.field{
				height:@fieldsize;
				width:@fieldsize;
				float:left;
				line-height: @fieldsize;
				text-align: center;
				transition-duration: .3s;
				cursor:pointer;
				&:hover{
				 	//	background:green!important;
					//opacity:0.7;
				}
				.active{
				//	background:red!important;
					&:hover{
						//background:red!important;
						opacity:1;
					}
				} 
			}
			
		}
	}
	#chessboardData{
		display:none;
	}
	#endTheGameWrap{
		margin: 0 auto;
		width:280px;
	}
}