@import "global.less";
@import "fonts.less";
@boardWidth:524px;
@fieldsize:56px;
body {
	//background:#000;
}
/*Chess Pieces*/
.chess-pieces{
	width:@fieldsize;
	height:@fieldsize;
	display:table;
	cursor:pointer;
}
.field[data-color='white'] .pawn{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -1px -299px;
}
.field[data-color='white'] .king{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -4px 2px;
}
.field[data-color='white'] .queen{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -2px -58px;
}
.field[data-color='white'] .bishop{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -2px -118px;
}
.field[data-color='white'] .knight{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0px -179px;
}
.field[data-color='white'] .rook{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0px -239px;
}

.field[data-color='black'] .pawn{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -1px -656px;
}
.field[data-color='black'] .king{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -4px -355px;
}
.field[data-color='black'] .queen{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -2px -416px;
}
.field[data-color='black'] .bishop{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll -1px -476px;
}
.field[data-color='black'] .knight{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0 -537px;
}
.field[data-color='black'] .rook{
	background: rgba(0, 0, 0, 0) url("../img/pieces.png") no-repeat scroll 0 -597px;
}
.lock{
	cursor: not-allowed!important;
	&>*{
		cursor: not-allowed!important;
	}
}
/*Buttons*/
button {
	width:200px;
	height:26px;
	font-size:20px;
	margin:0 auto;
	display:block;
}
header{
display:none;
	nav{
		padding-bottom:20px;
	}
}
#chessBoardWrap{
	#chessBoard{
		background: rgba(0, 0, 0, 0) url("../img/chess_board_bg.jpg") no-repeat scroll 0 0;
		//height: -moz-max-content;
		//border:8px solid #000;
		//width: -moz-max-content;
		max-width:@boardWidth;
		padding:38px;
		overflow:hidden;
		margin: 0 auto;
		&>*{

		}
		.board-row{
			height:@fieldsize;
			display:block;
			font-size:0;
			&:nth-child(even).field:nth-child(even){
				//background:#000;
			}
			&:nth-child(odd).field:nth-child(odd){
				//background:#000;
			}
			.field{
				height:@fieldsize;
				width:@fieldsize;
				float:left;
				line-height: @fieldsize;
				text-align: center;
				transition-duration: .3s;
				&:hover{
				 	//	background:green!important;
					//opacity:0.7;
				}
				.active{
				//	background:red!important;
					&:hover{
						//background:red!important;
						opacity:1;
					}
				} 
			}
			
		}



		.board-row>.field.active:hover{

		}
		.board-row>.field.active p{
			color:#000;
		}
	}
	#chessboardData{
		display:none;
	}
	#endTheGameWrap{
		margin: 0 auto;
		width:280px;
	}
}
